
/* #sidebar{
    position: fixed;
} */
body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

nav{
    background-color: #64A7F5;
    position: fixed;
    width: 100%;
  
}

nav h3{
    margin-left: 3px;
}

p{
    color: black;
    display: inline;
}

li{
    color: black;
    display: inline;
}
.kotak1{
    width: 269px;
    height: 135px;
    /* left: 10%;
    top: 40%; */
    
    background: #C072CD;
    border-radius: 20px;
}

.kotak2{
width: 269px;
height: 135px;
/* left: 322px; */

background: #6CC27A;
border-radius: 20px;
}

.kotak3{
width: 269px;
height: 135px;
/* left: 655px;
top: 40%; */

background: #E8B598;
border-radius: 20px;
}

.g1{
  position: absolute;
  left: 60%;
  top: 25%;
}

h4{
    position: absolute;
    font-weight: bold;
    top: 80px;
    left: 40px;
}